/* Estilo para os campos de texto (input) */
.grupo-input input { 
    width: 100%; 
    padding: 12px 15px; /* Aumentei o padding para ficar mais "cheinho" */
    border: 1px solid #ccc; 
    border-radius: 25px; /* Valor alto para ficar bem arredondado */
    outline: none; 
    transition: 0.3s; 
    font-size: 14px;
} 

/* Efeito ao clicar no campo */
.grupo-input input:focus { 
    border-color: rgb(107, 6, 102); 
    box-shadow: 0 0 5px rgba(107, 6, 102, 0.2);
} 

/* Estilo para o Botão */
.botao-primario {
    display: block;
    margin: 20px auto 0; /* Centraliza o botão */
    padding: 12px; 
    border-radius: 25px; /* Deixa o botão redondo */
    border: none;
    background-color: rgb(107, 6, 102); /* Cor roxa para combinar */
    color: rgb(243, 218, 218);
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background 0.2s;
}

.botao-primario:hover {
    background-color: rgb(147, 16, 142);
    transform: scale(1.02); /* Leve efeito de aumentar ao passar o mouse */
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #eccdcd;
    color: rgb(167, 59, 118);
    
    /* Flexbox para centralizar */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    min-height: 100vh;       /* Faz o body ter a altura da tela inteira */
    margin: 0;
}